@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

.header {
  color: white;
  background: url("images/desktop/image-hero.jpg");
  width: 100%;
  height: 620px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .nav-container {
  display: flex;
  height: 90px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  margin-bottom: 60px;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: Alata;
}

.header ul li {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
}

.header ul li::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -3px;
  transition: 0.3s ease width;
  border-radius: 3px;
}

.header ul li:hover::before {
  width: 100%;
}

.header ul button {
  visibility: hidden;
}

.header .header-text {
  width: 550px;
  height: auto;
  border: 2px solid white;
  text-align: left;
  font-family: Josefin sans;
  font-weight: 400px;
  font-size: 7rem;
  padding: 30px 50px;
  margin-left: 100px;
}

.inner-vr {
  padding: 150px 120px 0;
  position: relative;
}

.vr img {
  width: 60%;
}

.vr .inner-vr div {
  width: 30%;
  height: auto;
  padding: 60px 40px 0;
  background: #fff;
  position: absolute;
  top: 56%;
  left: 56%;
}

.vr div p:first-child {
  font-family: Josefin sans;
  font-size: 4rem;
}

.vr div p:last-child {
  font-family: Alata;
  text-align: left;
  font-size: 1.25rem;
  line-height: 24px;
  color: hsl(0, 0%, 55%);
  margin-top: 40px;
  padding-right: 40px;
}

.creations {
  padding: 200px 100px;
}

.creations .creations-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 0 auto;
}

.creations .creations-heading p {
  font-family: Josefin sans;
  font-size: 4rem;
}

.creations .creations-heading button {
  border: 1px solid black;
  background: transparent;
  width: 150px;
  height: 35px;
  padding: 0px 10px;
  border-radius: 2px;
  font-family: Alata;
  letter-spacing: 3px;
  cursor: pointer;
}

.creations .creations-heading button:hover {
  transition: 0.3s ease all;
  background: black;
  color: #fff;
}

.creations .imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 100px auto 0;
}

.creations .imgs .images {
  width: 100%;
  height: 430px;
  color: #fff;
  position: relative;
  font-family: Josefin sans;
  font-size: 3rem;
}

.creations .imgs .img1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 120%
    ),
    url("images/desktop/image-deep-earth.jpg");
  background-size: cover;
}

.creations .imgs .img2 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 120%
    ),
    url("images/desktop/image-night-arcade.jpg");
  background-size: cover;
}

.creations .imgs .img3 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 120%
    ),
    url("images/desktop/image-soccer-team.jpg");
  background-size: cover;
}

.creations .imgs .img4 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 120%
    ),
    url("images/desktop/image-grid.jpg");
  background-size: cover;
}

.creations .imgs .img5 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 120%
    ),
    url("images/desktop/image-from-above.jpg");
  background-size: cover;
}

.creations .imgs .img6 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 120%
    ),
    url("images/desktop/image-pocket-borealis.jpg");
  background-size: cover;
}

.creations .imgs .img7 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 120%
    ),
    url("images/desktop/image-curiosity.jpg");
  background-size: cover;
}

.creations .imgs .img8 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 120%
    ),
    url("images/desktop/image-fisheye.jpg");
  background-size: cover;
}

.creations .imgs .images p {
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.creations .imgs .images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 5%, 80%);
  opacity: 0;
  transition: 0.5s ease opacity;
}

.creations .imgs .images:hover::before {
  opacity: 0.5;
}

.creations .imgs .images:hover {
  transition: 0.5s ease color;
  color: black;
  cursor: pointer;
}

footer {
  background: black;
  padding: 50px;
  color: white;
  font-family: Alata;
}

footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

footer .footer-logo {
  width: 35%;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

footer ul li:not(:first-child) {
  margin-left: 33px;
}

footer ul li {
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
}

footer div .socials img {
  width: 8%;
  margin-left: 10px;
}

footer div .socials p {
  margin-top: 18px;
  font-size: 1.3rem;
  color: hsl(0, 0%, 41%);
}

footer div .socials div {
  margin-right: 0;
  text-align: right;
}

@media (max-width: 1040px) and (min-width: 950px) {
  .header .nav-container {
    padding: 40px 60px;
  }

  .header .header-text {
    width: 530px;
    font-size: 6.5rem;
    padding: 30px 50px;
    margin-left: 60px;
  }

  .inner-vr {
    padding: 150px 90px 0;
  }

  .vr img {
    width: 70%;
  }

  .vr .inner-vr div {
    padding: 60px 40px 0;
  }

  .vr div p:first-child {
    font-size: 3rem;
  }

  .vr div p:last-child {
    margin-top: 20px;
    font-size: 1.1rem;
  }

  .creations {
    padding: 200px 80px;
  }

  .creations .imgs .images p {
    left: 20px;
    font-size: 2.7rem;
  }
}

@media (max-width: 951px) and (min-width: 0px) {
  .header ul li {
    display: none;
  }

  .header ul button {
    visibility: visible;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  footer .footer {
    display: block;
  }
  footer ul {
    margin-top: 10px;
  }
}

@media (max-width: 951px) and (min-width: 750px) {
  .header .nav-container {
    padding: 40px 60px;
  }

  .header .header-text {
    width: 490px;
    font-size: 6rem;
    margin-left: 60px;
  }

  .inner-vr {
    padding: 150px 65px 0;
  }

  .vr img {
    width: 70%;
  }

  .vr .inner-vr div {
    padding: 40px 40px 10px;
  }

  .vr div p:first-child {
    font-size: 2.5rem;
  }

  .vr div p:last-child {
    margin-top: 20px;
    font-size: 1rem;
  }

  .creations {
    padding: 200px 60px;
  }

  .creations .imgs {
    padding-top: 0px;
    margin-top: 50px;
    display: block;
  }

  .creations .imgs .images {
    width: 100%;
    height: 200px;
    font-size: 3rem;
    margin-bottom: 30px;
  }
 
 
  footer div .socials div {
    text-align: left;
    margin-top: 50px;
  }
  footer div .socials img {
    width: 20px;
    margin-right: 15px;
    margin-left: 0;
  }
}

@media (max-width: 749px) and (min-width: 580px) {
    .header .nav-container {
      padding: 20px 40px;
    }
    .header {
     
        height: 500px;
       
      }
   
    .header .header-text {
    width: 400px;
      font-size: 5rem;
      margin-left: 40px;
    }
  
    .inner-vr {
      padding: 100px 40px 0;
    }
  
    .vr img {
      width: 80%;
    }
  
    .vr .inner-vr div {
      padding: 20px 20px 10px;
    }
  
    .vr div p:first-child {
      font-size: 2rem;
    }
  
    .vr div p:last-child {
      margin-top: 20px;
      font-size: 1rem;
      line-height: 20px;
    }
    .creations .creations-heading p {
        font-size: 2.5rem;
    }
    .creations {
      padding: 200px 40px;
    }
  
    .creations .imgs {
      padding-top: 0px;
      margin-top: 50px;
      display: block;
    }
  
    .creations .imgs .images {
      width: 100%;
      height: 200px;
      font-size: 3rem;
      margin-bottom: 30px;
    }
    footer {
    
        padding: 40px;
       
      }
    footer .footer {
        width: 100%;
    }
   
    footer div .socials div {
      text-align: left;
      margin-top: 50px;
    }
    footer div .socials img {
      width: 20px;
      margin-right: 15px;
      margin-left: 0;
    }
    .logo{
        width: 30%;
    }
    footer .footer-logo {
        width: 30%;
      }
  }

  @media (max-width: 579px) and (min-width: 378px) {
    .header .nav-container {
      padding: 0px 30px;
    }
    .header {
     
        height: 400px;
       
      }
   
    .header .header-text {
    width: 280px;
      font-size: 3.5rem;
      margin-left: 30px;
      padding: 30px 20px;
    }
  
    .inner-vr {
      padding: 50px 30px 0;
    }
  
    .vr img {
      width: 100%;
    }
  
    .vr .inner-vr div {
        width: 40%;
      padding: 20px 20px 10px;
      left: 49%;
    }
  
    .vr div p:first-child {
      font-size: 2rem;
    }
  
    .vr div p:last-child {
      margin-top: 10px;
      font-size: .9rem;
      line-height: 15px;
    }
    .creations .creations-heading p {
        font-size: 2.3rem;
    }
    .creations {
      padding: 200px 30px 100px;
    }
    .creations .creations-heading button{
        width: 100px;
        height: 35px;
        font-size: 1rem;
        
    }
    .creations .imgs {
      padding-top: 0px;
      margin-top: 50px;
      display: block;
    }
    .creations .imgs .images {
      width: 100%;
      height: 150px;
      font-size: 3rem;
      margin-bottom: 30px;
    }
    footer {
        padding: 30px; 
      }
    footer .footer {
        width: 100%;
    }
   
    footer div .socials div {
      text-align: left;
      margin-top: 50px;
    }
    footer div .socials img {
      width: 20px;
      margin-right: 15px;
      margin-left: 0;
    }
    .logo{
        width: 120px;
    }
    footer .footer-logo {
        width: 120px;
      }
      footer ul li {
          font-size: 1.2rem;
      }
  }

  @media (max-width: 377px) and (min-width: 0px) {
    .header .nav-container {
      padding: 0px 20px;
      margin-bottom: 30px;
    }
    .header ul button img {
        width: 22px;
    }
    .header {
     
        height: 400px;
       
      }
   
    .header .header-text {
    width: 200px;
      font-size: 3rem;
      margin-left: 20px;
      padding: 30px 20px;
      
    }
  
    .inner-vr {
      padding: 50px 20px 0;
    }
  
    .vr img {
      width: 100%;
    }
  
    .vr .inner-vr div {
        width: 50%;
      padding: 10px 10px 5px;
      left: 40%;
    }
  
    .vr div p:first-child {
      font-size: 1.5rem;
    }
  
    .vr div p:last-child {
      margin-top: 10px;
      font-size: .9rem;
      line-height: 15px;
    }
    .creations .creations-heading p {
        font-size: 1.7rem;
    }
    .creations {
      padding: 200px 20px 100px;
    }
    .creations .creations-heading button{
        width: 100px;
        height: 30px;
        font-size: .9rem;
        
    }
    .creations .imgs {
      padding-top: 0px;
      margin-top: 30px;
      display: block;
    }
    .creations .imgs .images {
      width: 100%;
      height: 100px;
      font-size: 2rem;
      margin-bottom: 30px;
    }
    footer {
        padding: 30px 15px; 
      }
    footer .footer {
        width: 100%;
    }
   
    footer div .socials div {
      text-align: left;
      margin-top: 50px;
    }
    footer div .socials img {
      width: 15px;
      margin-right: 15px;
      margin-left: 0;
    }
    .logo{
        width: 120px;
    }
    footer .footer-logo {
        width: 120px;
      }
      footer ul  {
          width: 90%;
      }
      footer ul li:not(:first-child) {
        margin-left: 20px;
      }
      footer ul li {
          font-size: 1rem;
      }
  }

